<% if logged_in? %>
  <script type="text/javascript" id="current-user-bootstrap">
    window.currentUser = <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe %>
  </script>
<% end %>

<main id="root"></main>