// Fonts
@import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Quicksand:300,400,700|Righteous&display=swap");

// Global Variables
$sansfont: "Quicksand", sans-serif;
$seriffont: "Bitter", "Georgia", serif;
$displayfont: "Righteous", sans-serif;

// Lightness Scale
$lightest: 80%;
$lighter: 50%;
$light: 30%;
$dark: -30%;
$darker: -50%;
$darkest: -80%;

// Palette
$teal: #23f0c7;
$salmon: #ef767a;
$blue: #6d92bf;
$purple: #6457a6;
$yellow: #ffe347;

// Key Color
$keycolor: #6d92bf;
$keycolorlightest: scale-color($keycolor, $lightness: $lightest);
$keycolorlighter: scale-color($keycolor, $lightness: $lighter);
$keycolorlight: scale-color($keycolor, $lightness: $light);
$keycolordark: scale-color($keycolor, $lightness: $dark);
$keycolordarker: scale-color($keycolor, $lightness: $darker);
$keycolordarkest: scale-color($keycolor, $lightness: $darkest);

// Accent Color
$accentcolorlight: #ffd6b3ff;
$accentcolor: #f4892fff;
$accentcolordark: #9b5a23ff;

// Grays
$graylightest: #eee;
$graylighter: #ddd;
$graylight: #bbb;
$graydark: #999;
$graydarker: #666;
$graydarkest: #333;

// Interface Colors
$donecolor: #61a45cff;
$notdonecolor: #bad7eeff;
$fetchingcolor: #87ffe7;
$deselectcolor: #cd5c5cff;
$deselectcolordark: rgb(140, 6, 6);
$deselectcolortransp: #cd5c5ca8;
