body {
  font-family: $sansfont;
  overflow: visible;
}

main,
.header-container,
footer {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
  box-sizing: border-box;

  @media only screen and (max-width: 700px) {
    width: 97%;
  }
}

$header-height: 6rem;
$mobile-header-height: 3rem;

.header-container {
  height: $header-height;

  @media only screen and (max-width: 700px), screen and (max-height: 600px) {
    height: $mobile-header-height;
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 40;
  top: 0;
}

main,
footer {
  border-left: 1px solid $keycolorlightest;
  border-right: 1px solid $keycolorlightest;
}

main {
  min-height: calc(100vh - #{$header-height * 2});
  margin-top: $header-height;

  @media only screen and (max-width: 700px), screen and (max-height: 600px) {
    min-height: calc(100vh - #{$mobile-header-height * 2});
    margin-top: $mobile-header-height;
  }
}

footer {
  height: $header-height;
  border-top: 1px solid $keycolorlightest;
  @include flex-across;
  justify-content: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
textarea {
  padding: 0.8rem;
  background-color: white;
  border: 1px solid $graylight;
  width: 100%;
  box-shadow: 2px 2px $keycolorlighter;
  box-sizing: border-box;
  @media only screen and (max-width: 700px) {
    height: 4rem;
  }
}

textarea {
  resize: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea {
  box-shadow: 2px 2px $purple;
}

@media (hover: hover) {
  input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    padding: 0.8rem;
    background-color: transparent;
    border: none;
    box-shadow: none;
    box-sizing: inherit;
  }
}

.form-submit-button {
  @include button($keycolordark, $purple);
  color: white;
}

label:not(.file-input-label) {
  position: relative;
  top: 1px;
  text-align: right;
  border: 1px solid $graylight;
  border-bottom-color: white;
  background-color: white;
  padding: 0.2rem 1.5rem;
  width: fit-content;
  z-index: 2;
  @media only screen and (max-width: 700px) {
    display: none;
  }
}

@media (hover: hover) {
  a:hover,
  a:focus {
    color: $keycolordarker;
    text-decoration: underline;
  }
}

.fas {
  display: initial;
}

.button-text {
  @media only screen and (max-width: 950px) {
    display: none;
  }
}
