@mixin flex-across {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-down {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@mixin embossed-effect {
  border-top: 1px solid $graylightest;
  border-bottom: 1px solid $graydarker;
}

@mixin reverse-embossed-effect {
  border-bottom: 1px solid $graylightest;
  border-top: 1px solid $graydarker;
}

@mixin button($color, $darkercolor: $color) {
  @include embossed-effect;
  font-weight: 700;
  padding: 0.3rem 0.6rem;
  text-align: center;
  background-color: $color;
  @media (hover: hover) {
    &:hover,
    &:focus {
      @include reverse-embossed-effect;
      background-color: scale-color($darkercolor, $lightness: -15%);
    }
  }
}
