header {
  border-bottom: 3px solid $keycolordarker;
  background: linear-gradient(to right, $keycolordark, $keycolordarker);

  .header-container {
    @include flex-across;
    color: white;
    padding: 0.5rem 1rem;

    & > * {
      background: none;
    }

    h1 {
      font-family: $displayfont;
      font-size: 2.5rem;
      @media only screen and (max-width: 700px) {
        font-size: 1.5rem;
      }
      @media (hover: hover) {
        a:hover,
        a:focus {
          text-decoration: none;
        }
      }
    }
    @media (hover: hover) {
      a:hover,
      a:focus {
        color: white;
        text-shadow: 2px 2px 4px $keycolordarkest;
      }
    }
  }
}

.header-button {
  @include button(white);
  color: $keycolordarkest;

  .button-text {
    margin-left: 0.5rem;
  }
}

.vertical-menu {
  @include flex-down;
  align-items: flex-end;

  @media only screen and (max-width: 700px), screen and (max-height: 600px) {
    flex-direction: row;
    align-content: center;
  }

  .session-welcome-text {
    @media only screen and (max-width: 700px) {
      display: none;
    }
  }

  & > *:first-child {
    margin-bottom: 0.7rem;
    @media only screen and (max-width: 700px), screen and (max-height: 600px) {
      margin-bottom: 0.4rem;
      // margin-top: 0.3rem;
      margin-right: 0.6rem;
    }
  }
}

.horizontal-menu {
  @include flex-across;

  @media only screen and (max-width: 700px), screen and (max-height: 600px) {
    justify-content: flex-end;
  }

  & > * {
    margin-left: 0.6rem;
    // @media only screen and (max-width: 700px) {
    //   margin-right: 0.6rem;
    // }
  }

  // & > *:first-child {
  //   margin-right: 0.6rem;
  // }
}
