.post-show-container {
  margin: 0 auto;
  padding: 3rem 0;

  .post-info {
    max-width: 80vw;
    margin: 0 auto;
    border: 1px solid $graylight;
    border-radius: 2px;
    overflow: hidden;
  }
}

.post-info {
  @include flex-across;
  justify-content: center;
  align-items: stretch;
  width: fit-content;
  height: 60vh;
  box-sizing: content-box;

  & > .image {
    flex-shrink: 1;
    @include flex-down;
    justify-content: center;
    background-color: black;
    max-width: 100%;
    overflow: scroll;
    position: relative;

    & > img {
      // width: 100%;

      &.fit-image {
        object-fit: contain;

        &:hover {
          cursor: zoom-in;
        }
      }

      &.fill-image {
        object-fit: cover;
        height: 100%;
        width: 100%;

        &:hover {
          cursor: zoom-out;
        }
      }
    }

    & > .expand {
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 0.7rem 1rem;
      background-color: #000000;
      border-radius: 10px;
      border: 1px solid gray;
      color: white;
      font-size: 1.4rem;
      opacity: 0;
      visibility: hidden;
      transition: 0.2s ease;

      &:hover {
        cursor: pointer;
      }
    }

    &:hover .expand {
      visibility: visible;
      opacity: 0.4;
    }
  }

  & > .details {
    flex-basis: 40%;
    flex-shrink: 0;
    @include flex-down;
    // border-left: 1px solid $graydarker;

    .author-details {
      flex: 0 0 5rem;
      border-bottom: 1px solid $graylightest;
    }

    .comments {
      flex: 1 1 auto;
      overflow: scroll;
      border-bottom: 1px solid $graylightest;
    }

    .interactions {
      flex: 0 0 5rem;
      border-bottom: 1px solid $graylightest;
      padding: 1rem;
    }

    .comment-form {
      background-color: $keycolorlightest;
      flex: 0 0 4rem;
      justify-self: flex-end;
    }
  }
}

.likes-button {
  color: $graydark;
  font-weight: 700;

  &.index {
    font-size: 0.8rem;
    @include flex-across;
    align-items: flex-start;

    i {
      font-size: 1.5rem;
      margin-bottom: 0.4rem;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
  }

  i {
    font-size: 1.3rem;
    margin-right: 1rem;

    &.liked {
      color: $salmon;
    }

    &:hover,
    &:focus {
      color: $blue;
    }
  }
}

.post-author {
  @include flex-across;
  justify-content: flex-start;
  padding: 0.5rem;

  & > .avatar {
    flex-basis: 17%;
    margin-right: 0.3rem;
    align-self: flex-start;
    padding: 0.5rem;
    padding-top: 0.8rem;

    .container {
      width: 100%;
      border-radius: 50%;
      background-size: auto 100%;
      background-position: center;

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      &:hover,
      &:focus {
        box-shadow: 0px 0px 6px $keycolordarker;
      }
    }
  }

  & > .details {
    @include flex-down;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 85%;

    .username {
      font-weight: 700;
      font-size: 1.3rem;
    }

    .location {
      font-size: 0.8rem;
    }
  }
}

.comments {
  padding: 1rem;
  font-size: 0.88rem;

  .comments-index {
    @include flex-down;
    justify-content: flex-start;

    .comment {
      @include flex-across;
      justify-content: flex-start;
      align-items: flex-start;
      $comment-avatar-width: 2.5rem;
      $comment-likes-button-width: 1rem;
      $margin-between-comments: 0.6rem;
      margin-bottom: $margin-between-comments;

      & > .avatar {
        flex-basis: $comment-avatar-width;
        padding-top: 0.25rem;

        .container {
          width: 1.8rem;
          border-radius: 50%;
          background-size: auto 100%;
          background-position: center;

          &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }
        }
      }

      & > .details {
        flex-basis: calc(100% - #{$comment-avatar-width});

        .main-body {
          margin-bottom: 0.3rem;
          @include flex-across;

          .main-text {
            flex-basis: calc(100% - #{$comment-likes-button-width} - 0.4rem);
          }

          .like-button-container {
            flex-basis: $comment-likes-button-width;
            align-self: flex-start;
            overflow: initial;

            .likes-button {
              z-index: 3;
              position: relative;
              text-align: right;
            }
            .likes-button i {
              font-size: 0.85rem;
              margin-right: 0;
            }
          }

          .username {
            font-weight: 700;
            margin-right: 0.3rem;
          }
        }

        .stats {
          @include flex-across;
          justify-content: flex-start;
          color: $graydark;
          font-size: 0.8rem;
          margin-bottom: $margin-between-comments;

          * {
            margin-right: 2rem;
          }

          .hidden {
            display: none;
          }

          .like-display,
          .reply-button {
            font-weight: 700;
          }
        }

        .child-comments-toggle {
          margin-bottom: $margin-between-comments;
          text-align: center;
          color: $graydark;
          font-weight: 700;
          font-size: 0.8rem;

          i {
            margin-right: 0.2rem;
            height: 100%;
          }
        }
      }
    }
  }
}
