.post-form-container {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  @include flex-down;

  h2 {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  img,
  canvas {
    border: 1px solid $graylight;
    box-shadow: 2px 2px $keycolorlighter;
    max-height: 50rem;
    width: auto;
    max-width: 75vw;
    align-self: center;
  }
}

.post-form {
  @include flex-down;

  div {
    @include flex-down;
    margin-bottom: 1rem;
    align-items: flex-end;
    position: relative;
  }

  .form-submit-button {
    align-self: center;
    padding: 1rem 3rem;
  }

  .form-redirect-link {
    align-self: center;
    margin-top: 1rem;
  }

  textarea {
    height: 8rem;
  }
}

.file-input-label {
  @include button($keycolordark);
  color: white;
  padding: 1rem 3rem;
  cursor: pointer;

  @media only screen and (max-width: 700px) {
    width: 100%;
  }

  button span {
    margin-left: 1rem;
  }

  button {
    pointer-events: none;
  }
}
input:focus + .file-input-label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

@media (hover: none) {
  .file-input-label {
    display: none;
  }
}
