.post-show-container {
  margin: 0 auto;
  padding: 3rem 0;
  overflow-y: auto;

  @media only screen and (max-width: 700px) {
    padding: 1rem 0;
  }

  .post-info {
    max-width: 80vw;
    margin: 0 auto;
    border: 1px solid $graylight;
    border-radius: 2px;
    overflow: hidden;

    @media only screen and (max-width: 700px) {
      max-width: 90vw;
    }
  }
}

.post-info {
  @include flex-across;
  justify-content: center;
  align-items: stretch;
  width: fit-content;
  height: 60vh;
  box-sizing: content-box;

  @media only screen and (max-width: 700px) {
    @include flex-down;
    justify-content: flex-start;
    height: 80vh;
  }

  & > .image {
    flex-shrink: 1;
    @include flex-down;
    justify-content: center;
    background-color: black;
    max-width: 100%;
    overflow: scroll;
    position: relative;

    @media only screen and (max-width: 700px) {
      flex-basis: 35%;
      flex-shrink: 0;
    }

    & > img {
      &.fit-image {
        object-fit: contain;

        @media (hover: hover) {
          &:hover {
            cursor: zoom-in;
          }
        }
      }

      &.fill-image {
        object-fit: cover;
        height: 100%;
        width: 100%;

        @media (hover: hover) {
          &:hover {
            cursor: zoom-out;
          }
        }
      }
    }

    & > .expand {
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 0.7rem 1rem;
      background-color: #000000;
      border-radius: 10px;
      border: 1px solid gray;
      color: white;
      font-size: 1.4rem;
      opacity: 0;
      visibility: hidden;
      transition: 0.2s ease;

      @media (hover: hover) {
        &:hover {
          cursor: pointer;
        }
      }
    }

    @media (hover: hover) {
      &:hover .expand {
        visibility: visible;
        opacity: 0.4;
      }
    }
  }

  & > .details {
    flex-basis: 40%;
    flex-shrink: 0;
    @include flex-down;
    @media only screen and (max-width: 700px) {
      flex-basis: 65%;
    }

    .author-details {
      flex: 0 0 5rem;
      border-bottom: 1px solid $graylightest;

      @media only screen and (max-width: 700px) {
        flex: 0 0 4rem;
      }
    }

    .comments {
      flex: 1 1 auto;
      overflow: scroll;
      border-bottom: 1px solid $graylightest;
    }

    .interactions {
      @include flex-down;
      flex: 0 0 5rem;
      padding: 1rem;
      border-bottom: 1px solid $graylightest;

      @media only screen and (max-width: 700px) {
        padding: 0.4rem 1rem 0;
        flex: 0 0 3rem;
        flex-direction: row;
        align-content: center;
      }

      .interaction-buttons {
        @include flex-across;
        justify-content: flex-start;
      }

      .permalink {
        color: $keycolordark;
        font-size: 0.8rem;
        font-weight: 700;
        align-self: flex-end;

        @media only screen and (max-width: 700px) {
          align-self: flex-start;
          margin-top: 0.4rem;
        }
      }
    }

    .comment-form {
      flex: 0 0 4rem;
      justify-self: flex-end;
    }
  }
}

.likes-button {
  color: $graydark;
  font-weight: 700;

  &.index {
    font-size: 0.8rem;
    @include flex-across;
    align-items: flex-start;

    i,
    svg {
      font-size: 1.5rem;
      margin-bottom: 0.4rem;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
  }

  i,
  svg {
    font-size: 1.3rem;
    margin-right: 1rem;

    @media only screen and (max-width: 700px) {
      font-size: 1rem;
    }

    &.liked {
      color: $salmon;
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        color: $blue;
      }
    }
  }

  span {
    margin-right: 0.2rem;
    margin-top: 0.2rem;
  }

  .interaction-desc {
    @media only screen and (max-width: 700px) {
      display: none;
    }
  }
}

.post-author {
  @include flex-across;
  justify-content: flex-start;
  padding: 0.5rem;

  @media only screen and (max-width: 700px) {
    padding: 0.3rem;
  }

  & > .avatar {
    flex-basis: 17%;
    margin-right: 0.3rem;
    align-self: flex-start;
    padding: 0.5rem;
    padding-top: 0.8rem;

    @media only screen and (max-width: 700px) {
      flex-basis: 11%;
    }

    .container {
      width: 100%;
      border-radius: 50%;
      background-size: auto 100%;
      background-position: center;

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      @media (hover: hover) {
        &:hover,
        &:focus {
          box-shadow: 0px 0px 6px $keycolordarker;
        }
      }
    }
  }

  & > .details {
    @include flex-down;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 85%;

    .username {
      font-weight: 700;
      font-size: 1.3rem;
    }

    .location {
      font-size: 0.8rem;
    }
  }
}

.comments {
  padding: 1rem;
  font-size: 0.88rem;

  .comments-index {
    @include flex-down;
    justify-content: flex-start;

    .comment {
      @include flex-across;
      justify-content: flex-start;
      align-items: flex-start;
      $comment-avatar-width: 2.5rem;
      $comment-likes-button-width: 1rem;
      $margin-between-comments: 1rem;
      margin-bottom: $margin-between-comments;

      & > .avatar {
        flex-basis: $comment-avatar-width;
        padding-top: 0.25rem;

        .container {
          width: 1.8rem;
          border-radius: 50%;
          background-size: auto 100%;
          background-position: center;

          &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }
        }
      }

      & > .details {
        flex-basis: calc(100% - #{$comment-avatar-width});

        .main-body {
          margin-bottom: 0.3rem;
          @include flex-across;

          .main-text {
            flex-basis: calc(100% - #{$comment-likes-button-width} - 0.4rem);

            .comment-profile-link {
              font-weight: 700;
            }
          }

          .like-button-container {
            flex-basis: $comment-likes-button-width;
            align-self: flex-start;
            overflow: initial;

            .likes-button {
              z-index: 3;
              position: relative;
              text-align: right;
            }
            .likes-button i,
            .likes-button svg {
              font-size: 0.85rem;
              margin-right: 0;
            }
          }

          .username {
            font-weight: 700;
            margin-right: 0.3rem;
          }
        }

        .stats {
          @include flex-across;
          justify-content: flex-start;
          align-items: flex-start;
          color: $graydark;
          font-size: 0.8rem;
          margin-bottom: $margin-between-comments;

          * {
            margin-right: 2rem;
          }

          .hidden {
            display: none;
          }

          .like-display,
          .reply-button {
            font-weight: 700;
            flex-shrink: 0;
          }
        }

        .child-comments-toggle {
          margin-bottom: $margin-between-comments;
          text-align: center;
          color: $graydark;
          font-weight: 700;
          font-size: 0.8rem;

          i,
          svg {
            margin-right: 0.2rem;
            height: 100%;
          }
        }
      }
    }
  }
}

.comment-form {
  @include flex-across;
  justify-content: flex-start;
  $submit-button-width: 3rem;
  overflow: visible;
  position: relative;

  .replying-banner {
    position: absolute;
    top: -1.6rem;
    width: 100%;
    background-color: $graydarker;
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
    @include flex-across;

    &.hidden {
      display: none;
    }
  }

  textarea {
    flex-basis: calc(100% - #{$submit-button-width});
    height: 100%;
    border: none;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }

  .submit-button {
    flex-basis: $submit-button-width;
    margin-left: 0.5rem;
    font-weight: 700;
    font-size: 0.8rem;
    color: $keycolordark;
  }
}
