.profile-user-info {
  @include flex-across;
  justify-content: space-between;
  border-bottom: 1px solid $keycolorlightest;
  padding: 1rem 4rem;

  .avatar {
    flex-basis: 30%;
    padding: 2rem 0;
    margin-right: 3rem;
    box-sizing: border-box;
    align-self: flex-start;

    .container {
      width: 100%;
      border: 10px solid $purple;
      border-radius: 50%;
      background-size: auto 100%;
      background-position: center;

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
  }

  .details {
    @include flex-down;
    padding: 4rem 0 2rem 1rem;
    height: 100%;
    align-self: flex-start;
    flex-basis: 60%;
    max-width: 33rem;

    .title {
      @include flex-across;
      margin-bottom: 0.7rem;

      .username {
        font-size: 2rem;
        font-family: $seriffont;
      }

      .follow button {
        @include button($keycolordark);
        color: white;
        padding: 0.5rem 1rem;
      }
    }

    .stats {
      font-size: 1.2rem;
      margin-bottom: 2rem;

      strong {
        font-weight: 700;
      }
    }
  }
}
