.profile-user-info {
  @include flex-across;
  justify-content: space-between;
  padding: 1rem 4rem;
  border-bottom: 1px solid $keycolorlightest;

  @media only screen and (max-width: 700px) {
    @include flex-down;
    padding: 1rem;
    justify-content: center;
  }

  input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    padding: 0.8rem;
    background-color: transparent;
    border: none;
    box-shadow: none;
    box-sizing: inherit;
  }

  & > .avatar {
    flex-basis: 30%;
    padding: 2rem 0;
    margin-right: 3rem;
    box-sizing: border-box;

    @media only screen and (max-width: 700px) {
      align-self: center;
      margin-right: 0;
    }

    .container {
      width: 100%;
      border: 10px solid $purple;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      position: relative;
      overflow: hidden;

      @media only screen and (max-width: 700px) {
        width: 40vw;
        max-width: 10rem;
        border-width: 3px;
      }

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      .edit-avatar-form {
        position: absolute;
        bottom: 20px;
        left: calc(50% - 3.55rem);
        z-index: 3;
      }

      .edit-avatar-icon {
        position: absolute;
        padding: calc(50% + 5px - 1rem);
        font-size: 2rem;
        top: -5px;
        left: -5px;
        color: white;
        background-color: #00000000;
        opacity: 0;
        transition: 0.2s ease;

        @media (hover: hover) {
          &:hover,
          &:focus {
            background-color: #00000088;
            opacity: 1;
            cursor: pointer;
          }
        }

        @media (hover: none) {
          background-color: #00000044;
          opacity: 1;
          cursor: pointer;
        }
      }

      button {
        @include button($keycolordark);
        color: white;

        &.submit-button {
          width: 5rem;
        }
        &.close-button {
          width: 1.9rem;
          margin-left: 0.2rem;
        }
      }
    }
  }

  & > .details {
    @include flex-down;
    padding: 4rem 0 2rem 1rem;
    height: 100%;
    align-self: flex-start;
    flex-basis: 60%;
    max-width: 33rem;
    position: relative;

    @media only screen and (max-width: 700px) {
      padding: 0;
      flex-basis: 100%;
      max-width: 100%;
      align-self: center;
      min-width: 80vw;
    }

    .title {
      @include flex-across;
      margin-bottom: 0.7rem;
      @media only screen and (max-width: 700px) {
        margin-bottom: 0.4rem;
        flex-direction: column;
      }

      .username {
        font-size: 2rem;
        font-family: $seriffont;
        @media only screen and (max-width: 700px) {
          font-size: 1.4rem;
        }
      }

      .follow button {
        color: $keycolordark;
        padding: 0.5rem 1rem;
        font-weight: 700;

        @media only screen and (max-width: 700px) {
          font-size: 1.2rem;
        }

        &.following {
          color: $salmon;
        }

        @media (hover: hover) {
          &:hover,
          &:focus {
            color: $purple;
          }
        }
      }
    }

    .stats {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      @media only screen and (max-width: 700px) {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 0.9rem;
      }

      strong {
        font-weight: 700;
      }
    }

    .follows-buttons {
      @include flex-across;
      color: $graydark;
      font-weight: 700;
      margin-top: 1rem;
    }

    .bio {
      @media only screen and (max-width: 700px) {
        font-size: 0.9rem;
      }
    }
  }
}

.follows-modal {
  position: fixed;
  background-color: #000000c5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .follows-list {
    position: fixed;
    z-index: 5;
    background-color: white;
    overflow: scroll;
    height: 40vh;
    top: 25vh;
    $follows-list-width: 30rem;
    width: $follows-list-width;
    left: calc(50% - #{$follows-list-width / 2});

    @media only screen and (max-width: 700px) {
      $mobile-follows-list-width: 90vw;
      height: 60vh;
      top: 20vh;
      width: $mobile-follows-list-width;
      left: calc(50% - #{$mobile-follows-list-width / 2});
    }

    h2 {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
      position: fixed;
      width: inherit;
      background: white;
      padding: 1rem;
      border-bottom: 1px solid $graylight;
    }

    .followers-modal-close {
      position: fixed;
      $follows-modal-close-button-font-size: 4rem;
      font-size: $follows-modal-close-button-font-size;
      left: calc(50vw - #{$follows-modal-close-button-font-size / 2});
      color: $graylight;
      top: 70vh;

      @media (hover: hover) {
        &:hover,
        &:focus {
          color: $keycolorlighter;
        }
      }

      @media only screen and (max-width: 700px) {
        top: 84vh;
      }
    }

    .followers-index-item {
      @include flex-across;
      justify-content: flex-start;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid $graylight;

      &:first-of-type {
        margin-top: 4rem;
      }

      & > .avatar {
        flex-basis: 17%;
        margin-right: 0.5rem;
        align-self: flex-start;
        padding: 0.5rem;
        padding-top: 0.8rem;

        .container {
          width: 100%;
          border-radius: 50%;
          background-size: auto 100%;
          background-position: center;

          &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }

          @media (hover: hover) {
            &:hover,
            &:focus {
              box-shadow: 0px 0px 6px $keycolordarker;
            }
          }
        }
      }

      & > .details {
        @include flex-down;
        justify-content: center;
        align-items: flex-start;
        flex-basis: 85%;

        .username {
          font-weight: 700;
          font-size: 1.3rem;
          @media only screen and (max-width: 700px),
            screen and (max-height: 600px) {
            font-size: 1rem;
          }
        }

        .location,
        .mini-bio {
          font-size: 0.8rem;
        }
      }
    }
  }
}
