.splash-screen {
  height: 100%;
  background: linear-gradient($keycolorlightest, $keycolorlight);
  position: fixed;
  top: 3rem;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  @include flex-across;
  justify-content: space-around;
  @media only screen and (max-width: 700px) {
    flex-direction: column;
    justify-content: center;
  }

  .splash-login-menu {
    @media only screen and (max-width: 900px) {
      @include flex-down;
      width: 40%;
      margin-top: 2rem;
    }
  }

  .splash-login-button {
    @include button($keycolordark);
    color: white;
    width: 100%;
    padding: 1rem 2rem;
    margin-left: 1rem;
    @media only screen and (max-width: 900px) {
      margin-left: 0;
      margin-bottom: 1.4rem;
    }
  }

  button.splash-login-button {
    width: auto;
    @media only screen and (max-width: 900px) {
      width: 100%;
    }
  }

  h1 {
    font-size: 6rem;
    font-family: $displayfont;
    color: white;
    text-shadow: 2px 2px 4px $keycolordarkest;
  }

  h2 {
    font-size: 2rem;
    color: $keycolorlightest;
    text-shadow: 2px 2px 1px $keycolor;
  }
}
